<table class="table table-striped">
  <thead>
    <th>#</th>
    <th>Descrição</th>
    <th>Usuários</th>
    <th>Valor</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.id %></td>
        <td><%= trip.description %></td>
        <td>
          <table>
            <tbody>
              <% trip.users.each do |user_trip| %>
                <tr>
                  <td><%= user_trip.user_data_name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </td>
        <td><%= trip.humanized_value %></td>
        <td><%= link_to 'Exibir', admin_trip_path(trip) %></td>
        <td><%= link_to 'Editar', edit_admin_trip_path(trip) if can? :update, Trip %></td>
        <td><%= link_to 'Deletar', admin_trip_path(trip), method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, Trip %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @trips.present? %>
  <div>
    <hr>
    <%= link_to "Exportar resultados", admin_trips_path(format: :pdf),
    class: 'btn btn-flat inverse' %>
  </div>
<% end %>
