<div class="row">
  <%= simple_form_for [:admin, @user] do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.simple_fields_for :data do |df| %>
        <%= df.input :name, required: true %>
        <%= df.select(:gender, UserData.genders.keys.map {|gender| [gender.titleize,gender]}) %>
        <%= df.input :rg, required: false %>
        <%= df.input :cpf, required: true %>
      <% end %>
      <%= f.input :username, required: true, autofocus: true %>
      <%= f.input :email, required: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
      <%= f.input :password_confirmation, required: true %>
      <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, button_label %>
    </div>
  <% end %>
</div>
