<table class="table table-striped">

  <thead>
    <th>#</th>
    <th>Username</th>
    <th>Email</th>
    <th>Nome</th>
    <th>CPF</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </thead>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= user.data.name %></td>
      <td><%= user.data.cpf %></td>
      <td><%= link_to 'Show', admin_user_path(user) %></td>
      <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
      <td><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
