<!DOCTYPE html>
<html>
<head>
  <title>Ecoturismo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container master-container">
    <%= render_navigation expand_all: true, renderer: :bootstrap %>

    <% if notice %>
      <div class="alert alert-success fade in" data-alert="alert">
        <a class="close" data-dismiss='alert' href="#">×</a>
        <p><%= notice %></p>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger fade in" data-alert="alert">
        <a class="close" data-dismiss='alert' href="#">×</a>
        <p><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
