<h2 class="text-center">Usuários - Registro</h2>

<div class="row">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.simple_fields_for :data do |df| %>
        <div class="form-group">
          <%= df.label :name, 'Nome *', class: 'col-sm-2 control-label' %>
          <div class="col-sm-6">
            <%= df.input :name, required: true, autofocus: true, label: false %>
          </div>
          <%= df.label :gender, 'Sexo', class: 'col-sm-1 control-label' %>
          <div class="col-sm-2">
            <%= df.input :gender, as: :select, label: false, collection: UserData.genders.keys.map {|gender| [t("activerecord.attributes.user_data.genders.#{gender}"),gender]}, include_blank: false %>
          </div>
        </div>
        <div class="form-group">
          <%= df.label :rg, 'RG', class: 'col-sm-2 control-label' %>
          <div class="col-sm-6">
            <%= df.input :rg, required: false, label: false %>
          </div>
        </div>
        <div class="form-group">
          <%= df.label :cpf, 'CPF *', class: 'col-sm-2 control-label' %>
          <div class="col-sm-6">
            <%= df.input :cpf, required: true, label: false %>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :username, 'Username *', class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= f.input :username, required: true, label: false %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :email, 'Email *', class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= f.input :email, required: true, label: false %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, 'Senha *', class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= f.input :password, required: true, label: false, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirme sua senha *', class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
          <%= f.input :password_confirmation, required: true, label: false %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <div class="form-group text-center">
        <%= f.button :submit, 'Cadastrar usuário', class: 'btn btn-flat inverse' %>
      </div>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
